RewriteEngine on

# GET : récupération de tout le contenu d'une table
RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^([a-zA-Z0-9_]+)$ src/index.php?table=$1 [B,L]

# GET : récupération avec critères au format JSON
RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^([a-zA-Z0-9_]+)/({.*})$ src/index.php?table=$1&champs=$2 [B,L]

# POST : insertion dans une table
RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^([a-zA-Z0-9_]+)$ src/index.php?table=$1 [B,L]

# PUT : modification d'une table sans id dans l'URL
RewriteCond %{REQUEST_METHOD} =PUT
RewriteRule ^([a-zA-Z0-9_]+)$ src/index.php?table=$1 [B,L]

# PUT : modification d'une ligne avec id dans l'URL
RewriteCond %{REQUEST_METHOD} =PUT
RewriteRule ^([a-zA-Z0-9_]+)/([a-zA-Z0-9]+)$ src/index.php?table=$1&id=$2 [B,L]

# DELETE : suppression sur une table entière ou traitement spécifique
RewriteCond %{REQUEST_METHOD} =DELETE
RewriteRule ^([a-zA-Z0-9_]+)$ src/index.php?table=$1 [B,L]

# DELETE : suppression avec critères au format JSON
RewriteCond %{REQUEST_METHOD} =DELETE
RewriteRule ^([a-zA-Z0-9_]+)/({.*})$ src/index.php?table=$1&champs=$2 [B,L]